.selector {
  border: 1px solid #ff0032;
  padding: 16px;
  font-size: 20px;
  border-radius: 4px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.selector:hover {
  border-color: darkred;
}

.selector:focus {
  outline: none;
}
