.cards_container {
  display: flex;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 92px;
  width: 92px;
  padding: 0;
  margin: 0;
  background: #f2f3f7;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 10px;
}
.card_active {
  box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5);
  outline: none;
}
.img_block {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
