.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 35px;
}
.button {
  background-color: #ff0032;
  color: white;
  border: none;
  width: 250px;
  padding: 20px 30px;
  margin: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
  font-size: 26px;
}

.button:hover {
  background-color: #ff0011;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3)
}