:root {
  --box-sizing: border-box;
  --margin: 0;
  --padding: 0;
  /* --main-bg-color: #f0f0f0; */
  --main-bg-color: #ffffff;
  --text-color: #333;
  --font-size: 16px;
}
*,
*::after,
*::before {
       box-sizing: var(--box-sizing);
}
body {
  box-sizing: var(--box-sizing);
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-size: var(--font-size);
  margin: var(--margin);
  padding: var(--padding);
}