.card {
  width: calc(50% - 20px);
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 0 8px 40px rgba(15, 34, 79, 0.2);
  border-radius: 10px;
  padding: 16px;
  color: #000000;
  text-align: left;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 8px;
}

.description {
  margin-bottom: 16px;
  font-size: 14px;
}

.productCharacteristic {
  margin-bottom: 8px;
  font-size: 26px;
  font-weight: bold;
}

.subscriptionFee {
  color: #ff0032;
  font-weight: bold;
  margin-top: 16px;
  font-size: 26px;
}

.benefitsDescription {
  padding-top: 25px;
}
.card > div {
  margin-bottom: 30px;
}
