.container {
  position: relative;
  padding: 30px auto;
  font-size: 25px;
  font-weight: bold;
}
.value {
  margin-bottom: 20px;
}
.slider {
  width: 100% !important;
  position: absolute!;
  left: 0 !important;
  right: 0 !important;
  height: 10px;
  background-color: #e2e5eb;
  border-radius: 5px;
}
.thumb {
  top: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ff0032 !important;
  border: none !important;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2), 0 16px 24px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.thumb:active {
  border: none !important;
  background-color: #ff0011;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
