name: Deploy

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

    # Настройка параметров автора Git
      - name: Configure Git Author
        run: |
          git config --global user.name "Polina Zhukovskaya"
          git config --global user.email "mayabessonova_16_94@mail.ru"

      # Сборка и развертывание клиентской части
      - name: Build and Deploy Client
        run: |
          npm install
          npm run build
          npm install -g gh-pages
          git config --global credential.helper cache 
          git config --global user.name "Polina Zhukovskaya"
          git config --global user.email "mayabessonova_16_94@mail.ru"
          gh-pages -d dist -m "Deploy to GitHub Pages"
        env:
          REACT_APP_API_URL: ${{ secrets.API_URL }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      # Запуск серверной части
      - name: Start Server
        run: |
          cd server
          npm install
          npm start
        env:
          NODE_ENV: production


