name: Deploy

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      # Сборка и развертывание клиентской части
      - name: Build and Deploy Client
        run: |
          npm install
          npm run build
          npm install -g gh-pages
          gh-pages -d build -m "Deploy to GitHub Pages"
        env:
          REACT_APP_API_URL: ${{ secrets.API_URL }}

      # Запуск серверной части
      - name: Start Server
        run: |
          cd server
          npm install
          npm start
        env:
          NODE_ENV: production


